.env
vendor/
config/*.local.php
config/backendbase/*.local.php
config/backendbase/private-api/*.local.php
config/backendbase/public-web/*.local.php
config/autoload/*.local.php
config/autoload/private-api/*.local.php
config/autoload/public-web/*.local.php
data/cache/*
data/logs/*.log
data/storage/temp/*
resources/docker/data/docker-postgres-data/*
resources/migration/backendbase/deploy/
resources/migration/backendbase/verify/
resources/migration/backendbase/revert/
resources/migration/*